body {
    background-color: #d9d9d9;
    margin: auto;
    font-size: 1.2rem;
    max-width: 38em;
    line-height: calc(4px + 1.2rem + 4px);
}

.author, .date {
    color: #888;
}

#postamble {
    font-size: 80%
}

code,pre {
    font-size: .88rem;
    background-color: #aaa;
    padding: 1px;
    border: 1px solid #999;
}
